css
body{ margin: 0;
font-family:'segoe UI', sans-serif;
background: color #f4f4f4;
color:#333;
}
header{
    background-color: white;
    padding: 50px 20px;
    text-align:center;
    box-shadow: 0 2px 10px rgba(0,0,0,0,05);
}
header h1 {
     margin:0;
     font-size: 2.2rem;
}
.conteudo {
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
    padding: 20px;
}
.conteudo img {
    width: 100%;
    max-width: 300px;
    border-radius:  12px;
    margin-bottom:  30px;
}
.conteudo p{
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
footer{
    text-align: center;
    padding:30px;
    font-size: 0.9rem;
    color: #777;
}